---
layout: default 
title: Service factory
---
<head>
	<link rel="stylesheet" href="../css/projects.css">
</head>
<div id="home" class="home">

	<div class="home-section-container">
		<div class="home-section-part">
				<div class="home-section-content">
					<i class="ion-filing"></i>
					<h2>Projects</h2>
					<ul class="projects">
						{% if site.posts.size > 0 %}
							{% for post in site.categories.project %}
								{% if post.tags.first != "future" %}
									<li class="project">
										<h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>	</h2>
										<a href="{{ site.url }}/contact"> Contact </a>
										<img src="{{ site.baseurl }}{{ post.image }}" class="project-image" alt="{{ post.title }}">
										<ul class="tags">
										 	{% for tag in post.tags %}
										    	{% if tag.first != "future" %}
										    		<li class="tag">{{ tag }}</li>
										    	{% endif %}
										  	{% endfor %}
										</ul> 
										{{ post.content | strip_html | truncatewords: 50 }}
										<a href="{{ site.baseurl }}{{ post.url }}"> Read more </a>
									</li>
								{% endif %}
							{% endfor %}
						{% else %}
							<li>There are no posts available.</li>
						{% endif %}								
					 </ul>
				</div>
			</div>
	</div>
	<div class="home-section side">
		<div class="home-section">
			<div class="home-section-part projects-section-side">
				<div class="home-section-content">
					<input id="searchProject" type="text" name="search" placeholder="Search..">
				</div>
				<div class="home-section-content">
					<h2>Categories</h2>
					<ul class="categories">
					  	{% for category in site.categories %}
					    	<li class="category">{{ category | first }}</li>
					  	{% endfor %}
					</ul> 
				</div>
				<div class="home-section-content">
					<h2>Tags</h2>
					<ul class="tags">
					 	{% for tag in site.tags %}
					    	{% if tag.first != "future" %}
					    		<li class="tag">{{ tag | first }}</li>
					    	{% endif %}
					  	{% endfor %}
					</ul> 
				</div>
				<div class="home-section-content">
					<h2>Recent Projects</h2>
					<ul class="recentProjects">
					  	{% if site.posts.size > 0 %}
							{% for post in site.categories.project limit:3%}
									<li class="recentProject">
										<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
									</li>
							{% endfor %}
						{% else %}
							<li>There are no posts available.</li>
						{% endif %}		
					</ul> 
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
    // custom method added to string
    String.prototype.capitalize = function () {
        return this.charAt(0).toUpperCase() + this.slice(1);
    }
    String.prototype.format = function (...a) {
        let temp = this;
        for (let letter of a) {
            temp = temp.replace("{$}", letter)
        }
        return temp;
    }
</script>
