<footer id="footer" role="contentinfo">
    <div class="container">
        <div class="footer-sections ">
            <div class="footer-section contact">
                <h3>Contact</h3>
                <ul>
                    <li><i class="fa fa-map-marker"></i>Bellevue 1, 9050 Ledeberg</li>
                    <li><i class="fa fa-phone"></i>09 266 09 00</li>
                    <li><i class="fa fa-envelope"></i>servicefactory@digipolis.gent</li>
                    <li>BTW: BE 0860.487.295</li>
                </ul>
                <div class="social-media-icons">
                    <div class="center">
                        {% comment %} <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a> {% endcomment %}
                        <a href="https://www.instagram.com/servicefactory9000/"><i class="fa fa-instagram"></i></a>
                        <a href="https://github.com/Servicefactoryghent"><i class="fa fa-github"></i></a>
                    </div>
                </div>
            </div>

            <div class="footer-section be-informed">
                <h3>Blijf op de hoogte</h3>
                <p>Bezorg ons je mailadres om info te ontvangen</p>
                <form action="https://twitter.us14.list-manage.com/subscribe/post?u=d8655688decadf8d8cc9df817&amp;id=17d0122aa9" method="post">
                    <input type="email" value="" placeholder="e-mail" name="EMAIL" class="required email" id="mce-EMAIL">
                    <input type="submit" value="Verzend" name="subscribe" id="mc-embedded-subscribe">
                    <div id="mce-responses" class="clear">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                    </div> 
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d8655688decadf8d8cc9df817_17d0122aa9" tabindex="-1" value=""></div>
                </form>
            </div>

            <div class="footer-section partners">
                <a href="https://digipolis.be" target="_blank"><img src="/images/partners/digipolis_white.png"></a>
            </div>
        </div>
    </div>
</footer>
