<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="nl">
    <head>
        {% include header.html %}
        <link rel="stylesheet" href="/css/projects.css">
    </head>
    <body class="home page-template-default page page-id-62 woo-cart-popup wpb-js-composer js-comp-ver-5.0.1 vc_responsive" cz-shortcut-listen="true">
        {% include nav.html %}
        
        {{ content }}

        {% include footer.html %}

        {% include scripts2.html %}
    </body>
</html>